<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="15">

    <Properties>
        <Property name="log-path">logs/</Property>
        <Property name="blank-pattern">%msg%n</Property>
        <Property name="only-thread-name-pattern">%t -> %msg%n</Property>
        <Property name="default-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="debug-pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} (%F:%L) - %msg%n</Property>
        <Property name="console">$${env:LOG_CONSOLE:-console}</Property>
    </Properties>

    <Appenders>
        <Sentry name="Sentry"/>
        <RollingRandomAccessFile name="fileOutputLog" immediateFlush="false" append="true"
                                 fileName="${log-path}/console.log"
                                 filePattern="${log-path}/console-%d{yyyy-MM-dd}-%d{HH}-%i.log">
            <PatternLayout pattern="${default-pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="64MB"/>
            </Policies>
        </RollingRandomAccessFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${debug-pattern}"/>
        </Console>
        <Console name="console_json" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:Log4jJsonLayout.json" locationInfoEnabled="true"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
<!--             <AppenderRef ref="fileOutputLog" /> -->
            <AppenderRef ref="${console}"/>
            <AppenderRef ref="Sentry" level="error"/>
        </Root>
        <Logger name="org.reflections" level="off"/>
        <Logger name="org.apache.kafka.clients" level="off"/>
        <Logger name="springfox.documentation.spring" level="off"/>
        <Logger name="org.springframework.security" level="off"/>
        <Logger name="vn.tiki" level="debug"/>
        <Logger name="org.vibur.dbcp.pool.DefaultHook" level="info"/>
    </Loggers>
</Configuration>